<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lobby | GameAnywhere</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>

    <body>
        <div id="app">
            <h1>{{ game.game }}</h1>

            <div class="game-link-field">
                <label for="game-link">Invite link:</label>
                <div class="copyable-link">
                    <input type="text" :value="invite_link()" readonly />
                    <button
                        type="button"
                        onclick="copyGameLink(event.target.parentNode.firstElementChild)"
                    >
                        Copy
                    </button>
                </div>
            </div>
            <table>
                <tr v-for="user in game.seats">
                    <td>{{ user.username }}</td>
                    <td>{{ user.state }}</td>
                </tr>
            </table>
            <form
                v-if="game.num_players?.const == Object.keys(game.seats).length"
                method="post"
                :action="`/lobby/${ room_id }/finalize`"
                onsubmit="finalizeRoom(event)"
            >
                <button type="submit">Start game</button>
            </form>
            <span v-else
                >Still waiting for {{ game.num_players?.const -
                Object.keys(game.seats).length }} players...</span
            >
        </div>
        <script type="module">
            import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
            import { applyPatch } from "https://unpkg.com/fast-json-patch/index.mjs";

            createApp({
                data() {
                    const params = new URLSearchParams(window.location.search);
                    return {
                        room_id: params.get("room"),
                        seat_id: params.get("seat"),
                        game: {
                            seats: [],
                            spectators: 0,
                            num_players: undefined,
                            game: undefined,
                        },
                    };
                },

                async mounted() {
                    let players_loaded = fetch("/lobby/" + this.room_id + "/")
                        .then((response) => response.json())
                        .then((game) => (this.game = game));

                    const base_url = new URL(
                        "/lobby/" + this.room_id + "/enter",
                        window.location.href,
                    );
                    let socket_relative_url;
                    if (this.seat_id === null) {
                        const response = await fetch(base_url);
                        socket_relative_url = response.headers.get("Location");
                        socket_relative_url = socket_relative_url.substring(3);
                        console.assert(socket_relative_url.startsWith("ws/"));
                        this.seat_id = socket_relative_url;
                        let new_url = new URL(window.location.href);
                        new_url.searchParams.append(
                            "seat",
                            socket_relative_url,
                        );
                        window.history.replaceState({}, null, new_url);
                    } else {
                        socket_relative_url = this.seat_id;
                    }
                    const socket_url = new URL(
                        "ws/" + socket_relative_url,
                        base_url,
                    );
                    const socket = new WebSocket(socket_url);

                    socket.onopen = (event) => {};
                    socket.onerror = console.error;
                    socket.onclose = (event) => {};
                    socket.onmessage = async (message) => {
                        await players_loaded;
                        this.handle_message(JSON.parse(message.data));
                    };
                },
                methods: {
                    handle_message(message) {
                        if (
                            message.length == 1 &&
                            message[0].op == "finalize"
                        ) {
                            message = message[0];
                            let url = new URL(
                                "player.html",
                                window.location.href,
                            );
                            console.assert(message.location.startsWith("/r/"));
                            const room_id = message.location.substring(3);
                            url.searchParams.append("seat", this.seat_id);
                            url.searchParams.append("room", room_id);
                            window.location.replace(url);
                            return;
                        }
                        applyPatch(this.game, message);
                    },
                    invite_link() {
                        let url = new URL(window.location.href);
                        url.searchParams.delete("seat");
                        return url;
                    },
                },
            }).mount("#app");
        </script>
        <script>
            async function copyGameLink(input) {
                try {
                    await navigator.clipboard.writeText(input.value);
                } catch (err) {
                    input.select();
                    document.execCommand("copy");
                }
            }

            function finalizeRoom(event) {
                event.preventDefault();
                fetch(event.target.action, { method: event.target.method })
                    .then(async (response) => {
                        if (response.status >= 400) {
                            throw new Error(await response.text());
                        }
                    })
                    .catch(alert);
            }
        </script>
    </body>
</html>
